@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Pacifico&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    
}

body {
    font-family: 'Lora', serif;
    position: relative;
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: 70px 1fr;
    grid-template-columns: 220px 1fr;
    grid-template-areas: 
    "hd hd"
    "nav cont";
}
.header {
    background-color: #24305E;
    font-size: 40px;
    font-family: 'Pacifico', cursive;
    grid-area: hd;
    padding-left: 15px;
    color: whitesmoke;
}

/* Navigation styling */

.nav {
    grid-area: nav;
    background-color: #374785;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding-top: 30px;
    font-size: 20px;
    color: whitesmoke;
   
}

button {
    font-family: 'Lora', serif;
    font-size: 16px;
    background-color: #374785;
    border-radius: 10px;
    width: 90%;
    text-align: left;
    height: auto;
    padding: 10px;
    border: none;
    color: whitesmoke;
    cursor: pointer;
}

button:hover,
button:active {
    background-color: #24305E;
    cursor: pointer;
}

.clickedbutton {
    background-color: #24305E;
}

span {
    font-weight: 900;
    width: fit-content;
    height: fit-content;
}

.todoinfo {
    color: whitesmoke;
    margin-right: 10px;
}

.info-container {
    display: flex;
    flex-direction: column;
    gap:15px;
    justify-content: flex-start;
    align-items: flex-start;
  
}

.projects,
.new-project-div,
.project-list {
    width: 90%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

i.fa-solid {
    display: inline;
    margin-right: 5px;
    width: fit-content;
    height: fit-content;
}
.fa-trash:hover {
    color: #F76C6C;
}
input,  
.btn-container {
    width: 100%;
    height: fit-content;
}
input.project-name{
    color: black;
    border-radius: 5px;
    color: black;
    height: 25px;
    font-size: 16px;
}

.btn-container{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.new-project-div{
    display: none;
}
.addBtn, 
.cancelBtn {
    width: 47%;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    font-weight: 900;
    border: 1px solid black;
}

.addBtn:hover,
.cancelBtn:hover {
    opacity: 0.8;
}

.addBtn {
    background-color: rgb(76, 187, 76);
}
.cancelBtn {
    background-color: #F76C6C;
}

.project-list > button {
    display: flex;
    align-content: space-between;
    justify-content: space-between;
}
/* Container styling */


.container {
    grid-area: cont;
    background-color: #A8D0E6;
    display: grid;
    
    grid-template-rows: 80px 1fr;
}

.title {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 22px;
}


.new-todo {
    width: 150px;
    font-size: 19px;
}

.title-of-project {
    color: black;
    font-weight: 800;
    height: fit-content;
    margin-bottom: 10px;
}

.one-todo {
    display: grid;
    grid-template-columns: 25px 260px 150px 20px;
    justify-content: space-around;
    width: 475px;
    height: 40px;
    padding: 10px;
}

.one-todo:hover {
    background-color: rgba(55, 71, 133, 0.6);
    cursor: pointer;
    border-radius: 10px;
}

.todos {
    margin-top: 30px;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 30px;
    flex-direction: column;
    height: auto;
    color: black;
}

.todos > span {
    color: black;
}

input[type="checkbox"] {
    height: 17px;
    border-radius: 50%;
}

input[type="checkbox"]:hover {
    cursor: pointer;
}

input[type="date"] {
    width: fit-content;
    border: none;
    background-color: transparent;
}

/* Overlay Styling */
#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }
  
  #login,
  #info{
      background-color: #374785;
      width: 400px;
      height: fit-content;
      margin: auto;
      border: 3px solid var(--secondary-color);
    color: var(--secondary-color);
      border-radius: 10px;
      padding: 20px;
      text-align: center;
      position: fixed;
    font-weight:600;
       right: 0;
    left: 0;
    top:calc(50vh - 150px) !important;
    margin: auto;
    z-index: 3;
 
  }

  h2 {
    height: fit-content;
    margin-bottom: 20px;
    color: whitesmoke;
    margin-top: 15px;
  }
  .form {
    height: auto;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .form input {
    margin-bottom: 10px;
  }

  #submit {
    background-color: #F76C6C;
    width: 50%;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    color: whitesmoke;
    font-weight: 800;
    align-self: center;
  }
  #overlay,#login, #info{display: none;}
  
  #cross{
      position: absolute;
      right: 20px;
      color: whitesmoke;
      width: fit-content;
      top: 0px;
      font-size: 22px;
      font-weight: bold;
      background-color: transparent;
      border: 0
  }

  #cross:hover {
    color: #F76C6C
  }

  input#dueDate {
    width: auto;
    background-color:whitesmoke;
    margin-bottom: 0;
  }
  input#read {
    margin-bottom: 0;
  }
  
  .formholder {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  label {
    margin-right: 10px; 
  }

  label.read {
    margin-left: 10px;
  }

  input#title,
  input#description,
  input#dueDate {
    padding: 5px;
    border-radius: 5px;
  }

  datalist {
    position: absolute;
    background-color: white;
    border: 1px solid blue;
    border-radius: 0 0 5px 5px;
    border-top: none;
    font-family: sans-serif;
    width: 350px;
    padding: 5px;
    max-height: 10rem;
    overflow-y: auto
    
  }
  
  option {
    width: 100%;
    background-color: white;
    padding: 4px;
    color: blue;
    margin-bottom: 1px;
     font-size: 18px;
    cursor: pointer;
  }

.todo-done {
    text-decoration: line-through;
    text-decoration-color: #F76C6C;
    text-decoration-thickness: 3px;
    opacity: 0.7;
}

.wide {
    display:inline-block;
    width:110px;
    text-align: start;
}